<nav class="navbar navbar-expand-lg py-4">
    <div class="custom-container mx-auto d-flex justify-content-between align-items-center">
      <small>Copyright © 2020. All Rights Reserved.</small>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2">
          <li *ngFor="let link of links" class="nav-item" style="margin-right: 40px !important;">
            <a class="nav-link active" aria-current="page" href="#">{{link}}</a>
          </li>
          <li class="nav-item d-flex justify-content-between align-items-center">
            <object data="/assets/facebook (1).svg" class="mx-3" type="image/svg+xml"></object>
            <object data="/assets/instagram.svg" class="mx-3" type="image/svg+xml"></object>
            <object data="/assets/twitter.svg" class="mx-3" type="image/svg+xml"></object>
          </li>
        </ul>
      </div>
    </div>
  </nav>