<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="body mx-auto slideLeft py-4 text-center">
        <h1 class="mb-4">User Details</h1>
        <h3 class="mb-3">First Name: {{userDetails.firstName}}</h3>
        <h3 class="mb-3">Last Name: {{userDetails.lastName}}</h3>
        <h3 class="mb-3">Email: {{userDetails.email}}</h3>
        <h3 class="mb-3">Phone Number: {{userDetails.phoneNumber}}</h3>
        <h3 class="mb-3">Ad Budget: {{userDetails.advertBudget}}</h3>
        <button type="button" routerLink="/home" class="d-block mx-auto btn btn-primary w-25">Back</button>
    </div>
</div>
